<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EmployeeWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  <servlet-name>home</servlet-name>
  <jsp-file>/jsp/homepage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>home</servlet-name>
  <url-pattern>/HomePage</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>loginP</servlet-name>
  <jsp-file>/jsp/LoginPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>loginP</servlet-name>  
  <url-pattern>/loginPage</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>data</servlet-name>
  <jsp-file>/jsp/dataPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>data</servlet-name>
  <url-pattern>/dataPage</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>SignIn</servlet-name>
  <jsp-file>/jsp/SignIn.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>SignIn</servlet-name>
  <url-pattern>/signin</url-pattern>
  </servlet-mapping>
</web-app>