        body{
            background-color: #eee;
        }
        input[type=text],
        input[type=password],
        input[type=email],
        input[type=tel] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ddd;
            border-radius: 20px;
            box-sizing: border-box;
            outline: none;
            background: none;
        }
        input[type=text]:focus,
        input[type=password]:focus,
        input[type=email]:focus,
        input[type=tel]:focus {
            border: 1px solid red;
            border-radius: 20px;
            box-sizing: border-box;
        }
        /* Set a style for all buttons */
        
        button,
        .loginBtn {
            border:0;
  			background: none;
  			display: block;
  			margin: 20px auto;
  			text-align: center;
  			border: 2px solid #2ecc71;
  			padding: 14px 40px;
  			outline: none;
  			color:#2ecc71 ;
  			border-radius: 24px;
  			transition: 0.25s;
  			cursor: pointer;
        }
        
        button:hover {
            background: #2ecc71;
  			color: #fff;
        }
        /* Extra styles for the cancel button */
        
        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }
        /* Center the image and position the close button */
        
        .container {
            padding: 60px;

        }
        
        span.psw {
            float: right;
            padding-top: 16px;
        }
        /* Modal Content/Box */
        
        .modal-content {
            background-color: #fff;
            margin: 2% auto 15% auto;
            /* 2% from the top, 15% from the bottom and centered */
            border-radius: 20px;
            border:none;
            width: 45%;
            /* Could be more or less, depending on screen size */
        }
        /* The Close Button (x) */
        
        .close {
            position: absolute;
            right: 25px;
            top: 0;
            color: #000;
            font-size: 35px;
            font-weight: bold;
        }
        
        .close:hover,
        .close:focus {
            color: red;
            cursor: pointer;
        }
        
        .errorMsg {
            color: red;
            font-size: 14px;
            font-weight: bold;
            margin-top: -10px;
        }
      